



.customfont1{
  font-family: 'Raleway', sans-serif;
}

.customfont2{
  font-family: 'Open Sans', sans-serif;

}

body, html{
  margin: 0;
  padding: : 0;
  background-attachment: fixed;

}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

}

.text {

  position: absolute;
  background: rgba(00,00,0,0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 40%;

}
