<div class="container">
  <div class= "row">
    <div class = "col-md-8 col-md-offset-2 well text-center">
      <h3>Latitude: {{dailyData.latitude}}, Longitude: {{dailyData.longitude}}</h3>
      <h3> Welcome to {{formattedAddress}}</h3>
    </div>
  </div>

  <div class="row" ng-repeat='card in dailyData.daily'>
    <div class="col-md-6 col-md-offset-3 well">
     <div class="row">
       <div class="col-md-4">
         <img ng-src="images/{{card.icon}}.png" alt="{{card.icon}}" style='width: 70px;'>
       </div>

       <div class="col-md-4 text-center">
         <h4>Minimum Temperature</h4>
       </div>

       <div class="col-md-4 text-center">
         <h4>Maximum Temperature</h4>
       </div>


     </div>

     <div class="row">
       <div class="col-md-4 font-italic customfont1">
         <br>
         <h5>Humidity: {{card.humidity * 100 | number:0}}%</h5>
         <h5>Wind Speed: {{card.windspeed}} mph</h5>
         <h5>Precipitation Probability: {{card.precipProbability*100 | number:0 }} % </h5>

       </div>
       <div class="col-md-4 text-center customfont1">

         <img ng-src="images/temp-min.png" style='width: 70px;'>
         <h4>{{card.tempMin}}&deg;F</h4>
       </div>
       <div class="col-md-4 text-center customfont1">
         <img ng-src="images/temp-max.png" style='width: 70px;'>
         <h4>{{card.tempMax}}&deg;F</h4>
       </div>
     </div>


     </div>
  </div>
</div>
