
<div class="container ng-scope" style='margin-top: 150px;'>


  <div class="row">

    <div class="form-group col-md-6 col-md-offset-3 ">
      <input type="text" class="form-control text-center" ng-model="location" placeholder="Enter a City, State, Latitude, Longitude" >
    </div>

    <!-- <div class="form group col-md-3 col-md-offset-3 ">
      <input type="text" class="form-control" ng-model='latitude' placeholder="Latitude:">
    </div> -->
    <!-- <div class="form group col-md-3 ">
      <input type="text" class="form-control" ng-model='longitude' placeholder="Longitude:"> -->
      <br>
    <!-- </div> -->
  </div>

      <div class ="col-md-2 col-md-offset-3">
      <a href="#/hourly" class="btn btn-warning btn-block" ng-click='updateHourly(location)'>Hourly</a>
    </div>
    <div class ="col-md-2">
      <a href="#/minutely" class="btn btn-warning btn-block" ng-click='updateMinutely(location)'>Minutely</a>
    </div>
    <div class ="col-md-2">
      <a href="#/daily" class="btn btn-warning btn-block" ng-click='updateDaily(location)'>Daily</a>
    </div>
    <div class = "text"> <h1> <center> Wecome to the World of Changing Weather</center>  </h1><br><br><br>
    <div class = "credit"><h5>Icons made by<a href="http://www.flaticon.com/authors/anhgreen" title="AnhGreen">AnhGreen</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </h5></center></div>
  </div>
</div>
